// Variables
$clr-dark: #292929;
$clr-light: #ffffff;

$ff-headings: "Arial Black", sans-serif;
$ff-default: "Roboto Slab", serif;
$ff-footer: "Arial", sans-serif;

$fw-headings: 900;

$pd-default: 1.5em;
$pd-big: $pd-default * 2;

// Global settings

body,
html {
  min-height: 100vh;
  width: 100%;
  margin: 0;
  font-family: $ff-default;
  position: relative;
}

body {
  background-color: $clr-dark;
  color: $clr-light;

  main {
    height: 100%;

    // Gestion des items du menu
    section > a {
      display: none;
      text-transform: uppercase;
      text-decoration: none;
      color: $clr-light;
      font-family: "Arial Black";

      font-size: 4em;
      height: auto !important;
      width: auto !important;
    }

    #newsletter > a {
      color: $clr-dark;
    }
  }
}

h1,
h2,
h3,
p {
  cursor: default;
}

h1,
h2,
h3 {
  font-family: $ff-headings;
  font-weight: $fw-headings;
  font-size: 4rem;

  text-transform: uppercase;
}

h1 {
  color: $clr-dark;
}

h2 {
  font-family: Arial;
  letter-spacing: 1px;
}

p {
  font-size: 1.5em;
  text-align: justify;
  margin: 0;
  letter-spacing: 0.5px;
}

button,
a {
  cursor: pointer;
}

button {
  text-transform: uppercase;
  border: none;
  background-color: transparent;
}

// Classes settings
.container {
  height: 100vh;
}

.divider {
  width: 8em;
  height: 8px;
  background-color: white;
}

.art__picture img {
  width: 100%;
  object-fit: cover;
  max-height: 100vh;
}

.art__body__text {
  display: flex;
  flex-direction: row;
  gap: 1.5em;
  > * {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1.5em;
    margin: 0;
    max-width: 50%;
  }
}

// Specific settings
#art__01 {
  display: flex;
  flex-direction: row;

  height: 100vh;
  .art__body {
    padding: $pd-default;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 80vh;

    .art__body__header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;

      .divider {
        margin-top: 2em;
      }

      h3 {
        margin: 0;
      }
    }
  }

  & > * {
    width: 50vw;
    height: calc(100vh - 3em);
  }
}

#art__02 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: $pd-default;

  background-image: url("../assets/art02-bg.jpg");
  background-size: cover;
  background-position: center;
  height: calc(100vh - $pd-default * 2);

  * {
    margin: 0;
  }
  #art__02__body {
    display: flex;
    justify-content: space-between;

    padding: $pd-big;

    > * {
      max-width: 50%;
    }

    p {
      max-width: 35%;
      font-size: 2.4em;
      text-align: start;
    }

    :nth-child(1) {
      color: $clr-dark;
      display: flex;
      flex-direction: column;
      gap: 2em;

      div {
        background-color: $clr-dark;
        width: 50%;
      }
    }
  }
}

#newsletter {
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: $clr-light;

  color: $clr-dark;

  #newsletter__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 15%;

    h2 {
      display: flex;
      flex-direction: column;
      position: relative;

      &::before,
      &::after {
        content: "";
        width: 55%;
        border: 2px solid $clr-dark;
        transition: 0.5s;
      }

      &::before {
        top: -0.5em;
        position: absolute;
        left: -10%;
      }

      &::after {
        position: absolute;
        right: -10%;
        bottom: -0.5em;
      }
    }

    //  Animation
    h2:hover {
      &::before,
      &::after {
        width: 120%;
      }
    }

    div {
      margin-top: 2em;
      width: 100%;
      position: relative;
      input {
        cursor: default;

        width: 100%;
        padding: 0.5em 1em;
        &::placeholder {
          color: $clr-dark;
          text-transform: uppercase;
        }
      }

      button {
        position: absolute;
        transform: translate(45%, -50%);
        top: 50%;
        right: 0;
        color: #b6b6b6;

        &:hover {
          color: #c17a7a;
        }
      }
    }
  }
}

// HERO / SCREEN 1
#hero {
  background-image: url("../assets/hero-bg.jpeg");
  background-size: cover;
  background-position: 50% 55%;

  display: flex;
  height: 100vh;
  > * {
    margin: auto;
  }
}

// FOOTER

footer,
header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

header {
  display: flex;
  align-items: center;
  padding-block: 1em;
  transition: 0.2s;

  // Menu buttons (opener  and  closer)
  a {
    cursor: pointer;
    opacity: 0.2;
    font-size: 4rem;
    margin: 0;
    color: $clr-light;
    transition: 0.2s;

    &:hover {
      opacity: 1;
    }

    &:active {
      color: $clr-dark;
    }
  }

  // Menu closer button
  #nomenu {
    display: none;
  }
}

footer {
  padding-block: 4em;
  bottom: 0;
  font-family: $ff-footer;
  font-size: 0.8rem;
  color: #b6b6b6;
}

#menu:target {
  max-height: 100vh;
  header {
    #onmenu {
      display: none;
    }
    #nomenu {
      display: block;
    }
  }
  section {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 10em;

    * {
      display: none !important;
    }

    > a {
      display: block !important;
    }
  }
}

// MEDIA QUERIES

@media (max-width: 840px) {
  #art__01 {
    flex-direction: column;
    min-height: 100vh;
    height: auto;

    .art__picture {
      img {
        max-height: 100%;
      }
      max-height: 50vh;
    }
    * {
      width: 100%;
      .divider {
        display: none;
      }
    }

    .art__body {
      padding: 0;
      gap: 1em;
      flex-direction: column;
      .art__body__header {
        display: none;
      }

      .art__body__text {
        flex-direction: column;

        > * {
          max-width: 100%;
        }
      }
    }
  }

  #art__02,
  #newsletter {
    display: none;
  }
}

// TODO 4. Make the template responsive, at least for mobile.
// TODO 5. Add more effects, and maybe some articles.
